.prices-container {
  height: 900px;
  background-image: linear-gradient(116deg, #6f7eea, #656ee6 61%, #5e63e4);
}

.price-cards {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.price-cards .solutions-list li {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.price-cards .solutions-list li:not(:last-of-type) {
  margin-bottom: 24px;
}

.price-cards .single-card h2 {
  font-size: 50px;
  font-weight: 600;
  line-height: 1.04;
  display: block;
  border-bottom: solid 2px #dcdcdc;
  padding-bottom: 18px;
  margin-bottom: 25px;
}

.price-cards .single-card h2 span {
  font-size: 20px;
  font-weight: 300;
}

.price-cards .single-card {
  position: relative;
  z-index: 2;
  border-radius: 3px;
  background-color: #f7f6f5;
  padding: 34px 70px 50px;
}

.price-cards .free-card {
  flex-basis: 50%;
  max-width: 380px;
  margin-right: 40px;
}

.price-cards .premium-card {
  flex-basis: 100%;
  padding-right: 80px;
}

.price-cards img {
  margin-right: 6px;
}

.price-cards ul {
  padding: 0;
  list-style: none;
  margin-bottom: 40px;
}

.price-cards .pl-button-lg {
  min-width: 220px;
  padding: 14px;
  text-transform: uppercase;
  font-size: 18px;
}

.price-cards .empty-button {
  background-color: transparent;
  border: 1px solid #5e63e4;
  color: #5e63e4;
}

.price-cards .empty-button:hover {
  color: #fff;
}

.prices-section-wrapper .premium-inner {
  display: flex;
  align-items: flex-start;
}

.prices-container .features-container ul {
  margin-top: 0;
}

.prices-container .additional-solutions {
  margin-left: auto;
}

.prices-container .additional-solutions ul {
  padding: 0;
  margin-bottom: 0;
  border-radius: 3px;
  border: solid 1px #dcdcdc;
  padding: 26px;
  display: block;
}

.prices-container .additional-solutions li {
  border: none;
}

.prices-container .additional-solutions li span {
  display: inline-block;
  max-width: 65px;
  margin-left: 12px;
}

.prices-container .additional-solutions p {
  font-size: 15px;
  font-weight: 600;
  line-height: 1.27;
}

/*Desktop shrink*/
@media (max-width : 1147px) {
  .price-cards .single-card {
    padding-left: 60px;
    padding-right: 60px;
  }
}


/*To tablet and desktop*/
@media (min-width : 1017px) {
  .additional-solution-tablet-view {
    display: none;
  }
}

/*Inbetween 768px and 1016px*/
@media (min-width: 768px) and (max-width:1016px)  {
  .additional-solution-tablet-view ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
  }

  .prices-section-wrapper
  .single-card.additional-solution-tablet-view ul > li {
    margin-bottom: 0;
  }
}

/* Responsive view */
@media (max-width : 1016px) {
  .additional-solutions {
    display: none;
  }

  .price-cards {
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .price-cards .single-card {
    padding-left: 40px;
    padding-right: 30px;
    flex-basis: 49%;
    margin-right: 0;
    margin-bottom: 20px;
    max-width: none;
  }

  .prices-section-wrapper .additional-solution-tablet-view {
    flex-basis:  100%;
    width: 100%;
    margin-right: 0;
  }

  .price-cards .single-card {
    display: flex;
    flex-flow: column;
  }

  .price-cards .single-card a {
    margin-top: auto;
  }
}


/*Mobile*/
@media (max-width : 767px) {
  .prices-section-wrapper .prices-container {
    height: auto;
    padding-bottom: 100px;
  }

  .prices-section-wrapper .price-cards {
    flex-flow: row wrap;
  }

  .prices-section-wrapper .price-cards .single-card {
    flex-basis: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }

}

/*Extra small Mobile*/
@media (max-width : 375px) {
  .prices-section-wrapper .price-cards .single-card {
    padding-left: 30px;
    padding-right: 30px;
  }
}