.card-item {
  max-width: 360px;
  transition: all .3s;
}

.card-item:first-of-type {
  padding-left: 0;
}

.card-item:last-of-type {
  padding-right: 0;
}

.card-item .card-item-content {
  margin-top: 30px;
  padding-top: 70px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 1px 3px 20px 0 rgba(60, 74, 109, 0.25);
  transition: all .3s;
  text-align: center;
  padding-left: 34px;
  padding-right: 34px;
}

.card-item:hover .card-item-content {
  box-shadow: 1px 3px 20px 0 rgba(60, 74, 109, 0.35);
  transition: all .3s;
}
.card-item-content .addons {
  width: 100%;
  clear: both;
  transition: all .3s;
  height: 0;
}

.addons.bottom {
  height: 40px;
}

.card-item:hover .card-item-content .addons.top {
  height: 10px;
}
.card-item:hover .card-item-content .addons.bottom {
  height: 50px;
}

.card-item img {
  margin-bottom: 20px;
}

.card-item h3 {
  font-size: 22px;
  font-weight: 600;
}

.card-item p {
  font-size: 16px;
  font-weight: 300;
}

.card-item a {
  margin-top: 40px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  border-radius: 3px;
  transition: all .3s;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}

.card-item:hover a {
  background-color: #5e63e4;
  color: #fff;
  box-shadow: 0 3px 10px 0 rgba(94, 99, 228, 0.3);
}

.card-item a:hover {
  background-color: #5459d3;
  box-shadow: 0 7px 20px 0 rgba(94, 99, 228, 0.3);
}

/*Mobile ++ */
@media (min-width : 768px) {
  .card-item:hover {
    margin-top: -10px;
  }
}

/*Mobile*/
@media (max-width: 767px) {
  .card-item {
    max-width: 100%;
    flex-basis: 100%
  }

  .card-item:hover {
    margin-top: -10px;
  }
}