.shopping-center-page .placer-data-view {
  background-color: #f7f6f5;
  padding-top: 130px;
  padding-bottom: 100px;
}

/* @TEMPORARY */
.shopping-center-page .testimonials-wrapper {
  margin-top: -190px;
}

.shopping-center-page .testimonials-section {
  padding-top: 100px;
}

.shopping-center-page .pl-button-lg .inner-text {
  font-size: 20px;
}

.shopping-center-page .pl-button-lg {
  padding: 20px;
  box-shadow: 0 3px 10px 0 rgba(94, 99, 228, 0.3);
  text-align: center;
  max-width: 200px;
  display: block;
  margin: 110px auto;
}

/*Mobile*/
@media (max-width : 767px) {
  .shopping-center-page .testimonials-section {
    padding-top: 70px;
  }
  .shopping-center-page .title-with-buttons-section h2 {
    font-size: 26px;
  }
}