.features-list li {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 15px;
  padding: 11px 18px 11px 0;
  border-bottom: 1px solid #dcdcdc;
  position: relative;
}

.features-list .features-list-item img {
  position: absolute;
  left: -20px;
}

.features-list li span {
  color: #4d4d4d;
}

.features-list li.disabled span {
  color: #d0d0d0;
}

.features-list li.disabled img {
  display: none;
}