.pl-typing-loop:after {
  content: '|';
  display: inline-block;
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% {
    opacity: 1
  }

  50% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}