.pl-header {
  position: fixed;
  left: 0;
  z-index: 50;
  width: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pl-header-buttons {
  margin-left: auto;
}

.pl-header-buttons button {
  margin-left: 5px;
}

.pl-header.is-scrolled {
  background-color: rgba(255, 255, 255, 0.9);
}

.pl-header-inner-component {
  display: flex;
  align-items: flex-start;
  padding-top: 26px;
  padding-bottom: 26px;
  border-bottom: 1px solid rgba(208, 208, 208, 0.7);
}

.pl-header.is-scrolled .pl-header-inner-component {
  border-bottom-color: transparent;
}