.pl-features-section {
  min-height: 500px;
  max-height: 505px;
  background-image: linear-gradient(124deg, #5e63e4, #6f7eea);
  position: relative;
  z-index: 1;
  padding-top: 80px;
}

.features-wrapper {
  margin-top: -168px;
}

.white-title {
  text-align: center;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 7;
  margin-bottom: 90px;
}

.white-title h2 {
  color: #fff;
}

.cards {
  display: flex;
  justify-content: space-between;
}

.cards .card-item {
  flex-basis: 33%;
}

/*To tablet and desktop*/
@media (min-width: 1667px) {
  .pl-features-section:before {
    height: 215px;
  }
}

/*Inbetween 1069px and 1101px*/
@media (min-width:1069px) and (max-width:1101px)  {
  .cards .card-item .children {
    min-height: 458px;
  }
  .pl-features-section .card-item h3 {
    display: block;
    max-width: 160px;
    margin: 0 auto;
  }
}

/*Inbetween 768px and 1101px*/
@media (min-width:768px) and (max-width:1068px)  {
  .pl-features-section .card-item h3 {
    display: block;
    max-width: 160px;
    margin: 0 auto;
  }

  .cards .card-item .children {
    min-height: 458px;
  }

  .pl-features-section .card-item:not(:first-of-type) p {
    max-width: 230px;
    margin-left: auto;
    margin-right: auto;
  }
}

/*Tablet*/
@media (max-width : 951px) {
  .cards {
    flex-flow: row nowrap;
  }

  .cards .card-item {
    max-width: 33%;
    flex-basis: 33%;
  }

  .cards .card-item .card-item-content {
    display: flex;
    flex-flow: column nowrap;
    padding-left: 20px;
    padding-right: 20px;
  }

  .cards .card-item img {
    margin: 0 auto;
  }

  .cards .card-item a {
    margin-top: auto;
    margin-bottom: 30px;
  }
}

/*Mobile*/
@media (max-width: 767px) {
  .cards {
    flex-flow: row wrap;
  }
  .cards .card-item {
    max-width: 360px;
    flex-basis: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .cards .card-item:last-of-type {
    margin-left: auto;
    margin-right: auto;
  }
  .features-wrapper {
    margin-top: -130px;
  }
  .pl-features-section:before {
    height: 130px;
    margin-top: -81px;
  }
  .pl-features-section {
    max-height: none;
  }
}