a.pl-link-component {
  padding-left: 0;
  padding-right: 0;
}

a.pl-link-component:hover {
  background-color: transparent;
  text-decoration: underline;
}

a.pl-link-component:focus {
  text-decoration: underline;
}