.sponsors-section {
  background-color: #f7f6f5;
  min-height: 337px;
  margin-top: -365px;
}

.sponsors-section > section {
  padding: 420px 50px 100px;
}

.sponsors-section h2 {
  display: block;
  margin-bottom: 42px;
}

.child-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.child-wrapper > a {
  display: inline-block;
  max-width: 160px;
  height: auto;
  flex-basis: 20%;
}

.child-wrapper img {
  display: block;
  width: 100%;
  height: auto;
}

.child-wrapper img[alt="oath-logo"] {
  max-width: 95px;
}

.child-wrapper img[alt="redbox-logo"] {
  max-width: 140px;
}

.child-wrapper img[alt="caesars-logo"] {
  max-width: 160px;
}

.child-wrapper img[alt="newmark-logo"] {
  max-width: 127px;
}

.child-wrapper img[alt="boardwalk-logo"] {
  max-width: 103px;
}

/*Tablet*/
@media (max-width: 951px) {
  .child-wrapper {
    flex-flow: row wrap;
    justify-content: center;
  }
  .child-wrapper > a {
    display: block;
    max-width: 50%;
    flex-basis: 50%;
    padding: 15px;
  }
}

/*Tablet*/
@media (max-width : 951px) {
  .sponsors-section img {
    margin-left: auto;
    margin-right: auto;
  }

  .sponsors-section h2 {
    text-align: center;
  }

  .sponsors-section .child-wrapper {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
}

/*Mobile*/
@media (max-width: 767px) {
  .child-wrapper > a {
    max-width: 100%;
    flex-basis: 100%;
  }
  .child-wrapper > a:not(:last-of-type) {
    margin-bottom: 50px;
  }
}