.pl-main-section {
  position: relative;
  min-height: 400px;
  height: 100vh;
  width: 100%;
  background-color: #CFE8FF;
}

.pl-main-section .pl-main-google-map {
  position: absolute !important;
}
.pl-main-section .pl-main-google-map:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  pointer-events: none;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), transparent);
}

.pl-main-section .pl-main-section-inner-content {
  position: relative;
  padding-top: 125px;
  padding-bottom: 200px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  pointer-events: none;
}

.pl-main-section .pl-main-section-left-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 500px;
  pointer-events: all;
}

.pl-main-section .pl-main-section-example {
  margin-top: 3px;
  font-weight: 400;
}

.pl-main-section .pl-main-section-text {
  font-size: 21px;
  line-height: 1.31;
  color: #333333;
  margin: 20px 0;
}

.pl-main-section .pl-main-section-typing {
  white-space: nowrap;
  margin-left: 10px;
}

/*Mobile*/
@media (max-width: 767px) {
  .pl-main-section .pl-main-section-left-block {
    max-width: 320px;
  }

  .pl-main-section .pl-main-section-main-title {
    font-size: 36px;
    line-height: 1.17;
  }

  .pl-main-section .pl-main-section-text {
    font-size: 16px;
    line-height: 1.38;
  }

  .pl-main-section .pl-main-section-example {
    font-size: 13px;
  }

  .pl-main-section .pl-main-section-autocomplete input {
    width: 235px;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.85;
    padding: 7px 9px;
  }

  .pl-autocomplete-component .pl-autocomplete-item {
    padding-left: 9px;
    padding-right: 9px;
  }

  .pl-main-section .pl-main-section-autocomplete .pl-autocomplete-item-primary {
    font-weight: 400;
    font-size: 13px;
  }

  .pl-main-section .pl-main-section-autocomplete .pl-autocomplete-item-secondary {
    font-weight: 400;
    font-size: 10px;
  }
}
