.pl-google-map-wrapper {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.pl-google-map {
  width: inherit;
  height: inherit;
}

.pl-google-map .map-view-box {
  min-height: 300px;
}