.capabilities-section {
  padding-top: 250px;
  padding-bottom: 200px;
  margin-top: -230px;
  background-image: linear-gradient(118deg, #6f7eea, #656ee6 61%, #5e63e4);
  z-index: 5;
  position: relative;
}

.capabilities-section h2 {
  color: #fff;
  display: block;
  margin-bottom: 50px;
  font-size: 38px;
}

.desktop-tabs-handler {
  display: flex;
}
.desktop-tab-buttons {
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
}

.pl-custom-tab.is-active button:after {
  position: absolute;
  content: "";
  display: block;
  z-index: 5;
  width: 14px;
  height: 14px;
  background-color: #fff;
  right: -7px;
  top: 50%;
  margin-top: -7px;
  transform: rotate(45deg);
}

.pl-custom-tab button {
  position: relative;
  font-size: 20px;
  color: #fff;
  padding: 16px 20px;
  width: 100%;
  max-width: 225px;
  width: 100%;
  font-weight: 300;
  border-radius: 3px;
  justify-content: flex-start;
}

.pl-custom-tab.is-active button {
  font-weight: 600;
  color: #5e63e4;
  justify-content: flex-start;
  background-color: #fff;
  box-shadow: 1px 3px 9px 0 rgba(60, 74, 109, 0.2);
}

.desktop-panels {
  margin-left: auto;
  position: relative;
  width: 100%;
  max-width: 804px;
  height: 396px;
}

.desktop-panels img {
  display: block;
  width: 100%;
  height: auto;
}

.desktop-panels p {
  font-size: 16px;
  line-height: 1.75;
  color: #ffffff;
}

.desktop-panels > div {
  position: absolute;
  left: 0;
  top: 0;
}

.mobile-capabilities-accordion {
  padding-left: 25px;
  padding-right: 25px;
}

.mobile-capabilities-accordion img {
  width: 100%;
  height: auto;
}

.mobile-capabilities-accordion .panel-container {
  background-color: transparent;
  box-shadow: none;
  margin-bottom: 16px;
}

.mobile-capabilities-accordion .panel-container .panel-heading {
  color: #5e63e4;
}

.mobile-capabilities-accordion .panel-container.panel-expanded .panel-heading {
  font-weight: 600;
}

.mobile-capabilities-accordion div.panel-heading {
  border-radius: 2px;
  min-height: 50px;
  height: 50px;
  background-color: #ffffff;
  box-shadow: 1px 3px 9px 0 rgba(60, 74, 109, 0.2);
  display: flex;
  align-items: center;
}

.mobile-capabilities-accordion .panel-heading > div {
  margin: 0;
}

.mobile-capabilities-accordion .pl-expand-icon img {
  display: block;
}

.mobile-capabilities-accordion .pl-expand-icon > span {
  display: flex;
  align-items:  center;
}

.mobile-capabilities-accordion .panel-content {
  flex-flow: row wrap;
  padding: 48px 0 20px;
}

.mobile-capabilities-accordion .panel-content p {
  font-size: 17px;
  line-height: 1.47;
  text-align: left;
  color: #fff;
}

/* Desktop - */
@media (max-width : 1045px) {
  .desktop-tab-buttons {
    flex-basis: 35%;
    min-width: 258px;
  }
}

/*To tablet and desktop*/
@media (min-width : 768px) {
  .capabilities-section {
    overflow: hidden;
  }
}

/*Mobile*/
@media (max-width : 767px) {
  .capabilities-section h2 {
    text-align: center;
  }
}