.benefits-section {
  position: relative;
  z-index: 6;
}
.benefits-section .data-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-bottom: 50px;
}

.benefits-section h2 {
  margin-bottom: 69px;
}

.benefits-section .data-section h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.42;
  color: #5e63e4;
  margin-top: 0;
  margin-bottom: 10px;
}

.benefits-section .data-section p {
  font-size: 16px;
  line-height: 1.75;
  color: #49565d;
}

.benefits-section .data-section article {
  max-width: 320px;
  flex-basis: 33%;
  margin-bottom: 80px;
}

/*Tablet*/
@media (max-width : 951px) {
  .benefits-section {
    padding-left: 20px;
    padding-right: 20px;
  }

  .benefits-section .data-section article {
    flex-basis: 50%;
  }

  .benefits-section .bottom-triangle {
    margin-right: -24px;
    margin-left: -24px;
    transform: translateY(-7px);
  }
}

/*Mobile*/
@media (max-width : 767px) {
  .benefits-section .data-section article {
    flex-basis: 100%;
  }
  .benefits-section h2 {
    font-size: 26px;
    margin-bottom: 40px;
  }
  .benefits-section .data-section article {
    padding-left: 32px;
    padding-right: 32px;
    margin-bottom: 50px;
  }
  .benefits-section .data-section h3{
    font-size: 19px;
  }
  .benefits-section .data-section p {
    font-size: 14px;
  }
}
