.pl-autocomplete-component {
  position: relative;
  z-index: 4;
}

.pl-autocomplete-component .pl-autocomplete-input {
  width: 360px;
  padding: 14px 16px;
  border-radius: 3px;
  border: 1px solid #676dfd;
  box-shadow: 1px 3px 12px 0 rgba(94, 99, 228, 0.2);
  box-sizing: border-box;

  line-height: 1.67;
  font-size: 18px;
  font-weight: 600;

  outline: none;
}

.pl-autocomplete-component .pl-autocomplete-input::placeholder {
  color: #b3b3b3;
}

.pl-autocomplete-component .pl-autocomplete-input.pl-autocomplete-input-open {
  border-radius: 3px 3px 0 0;
  border-bottom-color: transparent;
}

.pl-autocomplete-component .pl-autocomplete-paper-shadow {
  box-shadow: 1px 3px 12px 0 rgba(94, 99, 228, 0.2);
}

.pl-autocomplete-component .pl-autocomplete-popper {
  position: relative;
  z-index: 5;
  transform-origin: center top;
  border: 1px solid #676dfd;
  border-top: none;
  box-sizing: content-box;
  border-radius: 0 0 3px 3px;
}

.pl-autocomplete-component .pl-autocomplete-list {
  overflow: hidden;
}

.pl-autocomplete-component .pl-autocomplete-item {
  height: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

.pl-autocomplete-component .pl-autocomplete-item-secondary {
  font-size: 0.775rem;
  line-height: 1.26429em;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
}
