.pl-arrow {
  display: block;
  padding-top: 13px;
}

.pl-arrow > span {
  position: relative;
  width: 25px;
  height: 2px;
  background-color: #5e63e4;
  display: block;
}

.pl-arrow > span::before,
.pl-arrow > span::after {
  content: "";
  display: block;
  width: 10px;
  height: 2px;
  position: absolute;
  z-index: 1;
}
.pl-arrow > span::before {
  right: -1px;
  top: 3px;
  transform: rotate(-45deg);
  background-color: #5e63e4;
}

.pl-arrow > span::after {
  right: -1px;
  top: -3px;
  transform: rotate(45deg);
  background-color: #5e63e4;
}
