.devices-section {
  padding-top: 100px;
  background-color: #f7f6f5;
}

.devices-section > section > h2 {
  text-align: center;
  display: block;
  margin-bottom: 80px;
}

.devices-section .child-wrapper {
  margin-top: 40px;
}

.devices-section figure p {
  margin-top: 15px;
  font-size: 18px;
  font-style: italic;
  line-height: 1.88;
  text-align: center;
  color: #49565d;
}

.devices-subtitle {
  margin-bottom: 84px;
}

.learn-more-footer {
  margin-top: 80px;
  padding-bottom: 20px;
  text-align: right;
}

/* desktop*/
@media (min-width: 952px) {
  .devices-section .learn-more-footer,
  .devices-section .child-wrapper {
    max-width: 980px;
  }
}

/*Tablet*/
@media (max-width: 951px) {
  .devices-section {
    flex-flow: row wrap;
  }
  .devices-section figure {
    flex-basis: 50%;
  }
  .devices-section figcaption {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .devices-section .learn-more-footer {
    text-align: center;
  }
  .devices-section .child-wrapper {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}

/*Mobile*/
@media (max-width: 767px) {
  .devices-section figure {
    flex-basis: 100%;
  }
  
}