.panel-enter {
  opacity: 0.01;
  transform: scale(0.9) translateX(50%);
}
.panel-enter-active {
  opacity: 1;
  transform: scale(1) translateX(0%);
  transition: all 300ms ease-out;
}
.panel-exit {
  opacity: 1;
  transform: scale(1) translateX(0%);
}
.panel-exit-active {
  opacity: 0.01;
  transform: scale(0.9) translateX(50%);
  transition: all 300ms ease-out;
}
