/*
 * Responsive Rules
 */
@media (max-width : 951px) {
  .visible-on-desktop {
    display : none !important;
  }
}

/*To tablet and desktop*/
@media (min-width : 952px) {
  .hidden-on-desktop {
    display: none !important;
  }
}

/*Desktop*/
@media (min-width : 952px) {
  .visible-on-tablet-only {
    display : none !important;
  }
}

/*Mobile*/
@media (max-width : 767px) {
  .visible-on-tablet-only {
    display : none !important;
  }
}

/*To tablet and desktop*/
@media (min-width : 768px) {
  .visible-on-phones-only {
    display : none !important;
  }
}

/*Mobile*/
@media (max-width : 767px) {
  .hidden-on-phones {
    display : none !important;
  }
}
