.testimonials-section .testimonials-slider > div.steps-view {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  background-color: transparent;
}

/* rewrite dots rules */
.steps-view .pl-slider-dot {
  width: 10px;
  height: 10px;
}
.steps-view .pl-slider-dot:not(:last-of-type) {
  margin-right: 10px;
}

/* active dot */
.steps-view .pl-slider-dot.pl-slider-dot-active {
  background-color: #676dfd;
}

.testimonials-single-view .content {
  font-size: 18px;
  line-height: 1.56;
  font-style: normal;
  color: #8a8a8a;
  text-align: left;
}

.testimonials-single-view .author-scope {
  margin-top: 28px;
}

.testimonials-single-view .author-scope {
  display: flex;
  align-items: center;
}

.testimonials-single-view .author-scope img  {
  max-width: 120px;
  height: auto;
}

.testimonials-single-view .author-info strong,
.testimonials-single-view .author-info span {
  display: block;
  font-size: 18px;
  font-style: normal;
  line-height: 1.22;
  text-align: left;
  color: #333;
}

.testimonials-single-view .author-info {
  padding-left: 30px;
}

.slider-wrapper-view .navs {
  position: absolute;
  z-index: 5;
  top: 120px;
  min-width: 48px;
  width: 48px;
  height: 48px;
  border-radius: 25px;
}

.slider-wrapper-view .navs span.arrow {
  border-left: 2px solid #676dfd;
  border-bottom: 2px solid #676dfd;
  display: block;
  width: 15px;
  height: 15px;
}

.slider-wrapper-view .navs.disabled span.arrow {
  border-left: 2px solid #9798af;
  border-bottom: 2px solid #9798af;
}

.slider-wrapper-view .navs.prev-nav {
  left: -60px;
  padding: 0 0 0 5px;
}

.slider-wrapper-view .navs.prev-nav span.arrow {
  transform: rotate(45deg);
}

.slider-wrapper-view .navs.next-nav {
  right: -60px;
  padding: 0 5px 0 0;
}

.slider-wrapper-view .navs.next-nav span.arrow {
  transform: rotate(-135deg);
}

/*Tablet*/
@media (max-width : 951px) {
  .slider-wrapper-view .navs.prev-nav {
    left: 10px;
  }
  
  .slider-wrapper-view .navs.next-nav {
    right: 10px;
  }
}
