.data-driven-container {
  margin-top: -220px;
  position: relative;
  z-index: 1;
}

.data-driven-inner {
  background-color: #f7f6f5;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 20px;
  padding-right: 20px;
}

.data-driven-inner h2 {
  text-align: center;
}

.data-driven-inner .data-cards {
  margin-top: 60px;
  display: flex;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(280px * 4 + 20px * 3);
  justify-content: space-between;
}

.data-driven-inner .the-card {
  max-width: 280px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.1);
  margin-left: 5px;
  margin-right: 5px;
}

.data-driven-inner .the-card > div {
  padding: 19px;
  height: 100%;
}

.data-driven-inner .the-card img {
  display: block;
  margin: 20px auto 22px;
}

.data-driven-inner .the-card ul {
  padding: 0;
}

.data-driven-inner .the-card ul li {
  display: block;
  margin-bottom: 20px;
  display: flex;
  align-items: baseline;
  font-size: 15px;
  line-height: 1.53;
  color: #49565d;
}

.data-driven-inner .the-card ul img {
  display: block;
  width: 18px;
  height: 15px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 7px;
  transform: translateY(3px);
}

.data-driven-inner .the-card h2 {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  line-height: 1.25;
  color: #5e63e4;
}

/*Tablet*/
@media (max-width : 951px) {
  .data-driven-inner .data-cards{
    flex-wrap: wrap;
    justify-content: center;
  }

  .data-driven-inner .the-card {
    flex-basis: 50%;
    margin: 0 10px 20px;
  }
}

/*Mobile*/
@media (max-width : 767px) {
  .data-driven-inner .the-card {
    flex-basis: 100%;
    margin: 0 5px 20px;
  }

  .data-driven-inner h2 {
    font-size: 26px;
  }
}