.conclusion-section {
  background-color: #f7f6f5;
  padding-top: 180px;
  padding-bottom: 190px;
  text-align: center;
}

.conclusion-section .title-button {
  min-height: 60px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  background-image: linear-gradient(107deg, #6f7eea, #5e63e4);
  box-shadow: 0 3px 10px 0 rgba(94, 99, 228, 0.3);
}

.conclusion-section .title-button .conclusion-button {
  line-height: 40px;
  font-size: 20px;
}

.conclusion-heading {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 1025px;
  font-size: 48px;
  font-style: italic;
  line-height: 1.38;
  color: #333;
  margin-bottom: 70px;
}

/*Mobile*/
@media (max-width : 767px) {
  .conclusion-section {
    padding-top: 80px;
    padding-bottom: 90px;
  }

  .conclusion-heading {
    font-size: 35px;
  }
}