.device-card-item img {
  max-width: 64px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(25px);
}

.device-card-item img[alt="mobile-icon"] {
  max-width: 38px;
}

.device-card-item {
  margin: 0;
}

.device-card-item h2 {
  font-size: 40px;
}

.device-card-item figcaption {
  padding-top: 40px;
  width: 188.2px;
  height: 170.1px;
  border-radius: 6px;
  background-color: #fff;
  text-align: center;
}