.testimonials-wrapper {
  margin-top: -290px;
}

.testimonials-section {
  background-color: #f7f6f5;
  padding-top: 300px;
}

.testimonials-section {
  font-size: 38px;
  font-style: italic;
  line-height: 1.74;
  text-align: center;
  color: #333;
}

.testimonials-section h2 {
  margin-bottom: 36px;
  text-align: center;
}

.testimonials-slider {
  position: relative;
}

.testimonials-slider .react-swipeable-view-container > div {
  display: flex;
  align-items: center;
}

.testimonials-section .testimonials-slider > div {
  border-radius: 10px;
  background-color: #fff;
}

.testimonials-section .react-swipeable-view-container > div {
  padding: 60px;
}

.testimonials-section .testimonials-slider {
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
}

/*Mobile*/
@media (max-width : 767px) {
  .testimonials-section {
    padding-top: 130px;
    padding-left: 20px;
    padding-right: 20px;
  }
}