.pl-demo-market {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.pl-demo-market .pl-demo-pin {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
}

.pl-demo-market .pl-demo-label {
  margin-left: 20px;
  font-size: 14px;
  font-weight: 600;
  color: #606f78;
}

.pl-demo-popup {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px 20px 20px 20px;
  min-width: 260px;
}


.pl-demo-popup:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  width: 0;
  height: 0;
  border-top: 10px solid rgba(0, 0, 0, 0.14);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  z-index: 20;
  transform: translate(-50%, 100%);
}

.pl-demo-popup:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  width: 0;
  height: 0;
  border-top: 10px solid white;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  z-index: 21;
  transform: translate(-50%, 80%);
}

.pl-demo-popup .pl-demo-popup-name {
  font-size: 14px;
  font-weight: 600;
  color: #4d4d4d;
  margin: 0;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.pl-demo-popup .pl-demo-popup-address {
  display: flex;
  align-items: center;
  min-height: 18px;
  margin-top: 3px;
  font-size: 13px;
  font-weight: 400;
  color: #4d4d4d;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.pl-demo-popup .pl-demo-popup-address .pl-demo-popup-icon {
  height: 18px;
  margin-right: 7px;
}

.pl-demo-popup .pl-demo-popup-visits {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-radius: 3px;
  background-color: #f2f2f2;
  font-size: 13px;
  font-weight: 600;
  color: #4d4d4d;
  padding: 13px 8px;
  margin: 10px 0;
}

.pl-demo-popup .pl-demo-popup-img {
  width: 100%;
  min-height: 100px;
  margin-bottom: 15px;
}