.banner-area-shopping {
  background-size: cover;
  background-position: right;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.banner-area-shopping .pl-inner-content {
  width: 100%;
}

.banner-area-shopping h1 {
  display: block;
    max-width: 805px;
    font-size: 50px;
    font-weight: 600;
    line-height: 1.2;
    color: #333;
    margin: 0;
}

.banner-area-shopping p {
  max-width: 591px;
  display: block;
  font-size: 24px;
  line-height: 1.42;
  color: #333;
}

.banner-area-shopping .widget-sample {
  padding: 20px;
  width: 100%;
  max-width: 390px;
  height: 100px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
  position: absolute;
  right: 0;
  bottom: 80px;
  z-index: 1;
  display: flex;
  justify-content: flex-start;
}

.widget-sample p {
  margin: 0;
}

.widget-sample strong, .widget-sample span {
  display: block;
  font-size: 17px;
  line-height: 1.41;
  text-align: left;
  color: #333;
}

.widget-sample strong {
  font-size: 18px;
  margin-top: 5px;
  display: flex;
}

.widget-sample strong span {
  margin-left: auto;
}

.widget-sample > div {
  padding-left: 12px;
}

/*Tablet*/
@media (max-width : 951px) {
  .banner-area-shopping .pl-inner-content {
    padding-left: 30px;
    padding-right: 30px;
  }
}

/*Mobile*/
@media (max-width : 767px) {
  .banner-area-shopping {
    flex-flow: row wrap;
  }

  .banner-area-shopping h1 {
    font-size: 35px;
  }

  .banner-area-shopping .pl-inner-content {
    padding-left: 15px;
    padding-right: 15px;
  }

  .banner-area-shopping h1 {
    font-size: 32px;
  }
  .banner-area-shopping p {
    font-size: 16px;
  }

  .banner-area-shopping .widget-sample {
    display: none;
  }
}