.title-with-buttons-section .title-button {
  box-shadow: 0 3px 10px 0 rgba(62, 66, 173, 0.3);
  display: inline-block;
  min-width: 190px;
  padding: 10px;
  border-radius: 3px;
  text-align: center;
}

.title-button > span {
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.title-with-buttons-section {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.title-with-buttons-section .title-handler {
  max-width: 906px;
}

/*To tablet and desktop*/

@media (min-width: 952px) {
  .title-with-buttons-section {
    padding-top: 141px;
    padding-bottom: 80px;
  }
}

/*Tablet*/

@media (max-width: 951px) {
  .button-handler {
    text-align: center;
  }
  .title-with-buttons-section .title-button {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
  }
}

/*Mobile*/
@media (max-width: 894px) {
  .title-with-buttons-section .title-handler {
    flex-basis: 100%;
    max-width: 100%;
  }
  .title-with-buttons-section {
    padding-left: 20px;
    padding-right: 20px;
    flex-wrap: wrap;
    text-align: center;
  }
  .title-with-buttons-section .button-handler {
    width: 100%;
  }
  .title-with-buttons-section .title-handler {
    flex-basis: 100%;
  }
  .title-with-buttons-section h2 {
    text-align: center;
  }
}