li.menu-link-item-component {
  padding: 0;
  height: auto;
}

.menu-link-item {
  position: relative;
  display: block;
  min-width: 150px;
  width: 100%;
  padding: 9px 10px;
  font-size: 13px;
  color: #333333;
  text-decoration: none;
}

.menu-link-item:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: calc(100% - 20px);
  background-color: #e6e6e6;
  margin: 0 10px;
}

li.menu-link-item-component:last-of-type .menu-link-item::after {
  display: none;
}