.pl-dropdown {
  position: relative;
}

.pl-dropdown .pl-dropdown-button {
  font-weight: 400;
}

.pl-dropdown .pl-dropdown-menu {
  padding: 4px 0;
}

.pl-dropdown .pl-dropdown-paper {
  position: absolute;
  visibility: hidden;
  background-color: #f9f8f7;
  border: 1px solid #d0d0d0;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);

  opacity: 0;
  transition: opacity 280ms ease-in-out;
  pointer-events: none;
}

.pl-dropdown:hover .pl-dropdown-paper {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}

.pl-dropdown .pl-dropdown-paper:before {
  content: '';
  position: absolute;
  top: 0;
  left: 20px;
  width: 0;
  height: 0;
  border-bottom: 7px solid #d0d0d0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  transform: translate(0, -100%);
}

.pl-dropdown .pl-dropdown-paper:after {
  content: '';
  position: absolute;
  top: 0;
  left: 20px;
  width: 0;
  height: 0;
  border-bottom: 7px solid #f9f8f7;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  transform: translate(0, -80%);
}