/* Empty button */
a.button-without-bg,
button.button-without-bg {
  padding: 5px 12px;
  border-radius: 3px;
}

a.button-without-bg:hover,
button.button-without-bg:hover {
  background: none;
}

a.button-without-bg span,
button.button-without-bg span {
  font-size: 20px;
  font-weight: 600;
  color: #5e63e4;
  margin-right: 10px;
}

a.button-without-bg i,
button.button-without-bg i {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-right: 2px solid #5e63e4;
  border-bottom: 2px solid #5e63e4;
  transform: rotate(-45deg);
}
