.key-card {
  text-align: center;
  padding: 50px 20px;
}

/* add tag modifier to override parent rule */
div.key-card > h2 {
  margin-bottom: 20px;
}

.key-card img {
  display: block;
  margin: 10px auto 22px;
}

.key-card p {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #8a8a8a;
}