.key-insights .key-title {
  padding-left: 50px;
  padding-right: 50px;
}

.key-insights h2 {
  margin-bottom: 80px;
}

.key-insights .key-insights-cards {
  display: flex;
  flex-flow: row wrap;
}

.key-insights .key-card {
  flex-basis: 33.3%;
  max-width: 33%;
  min-height: 200px;
}

/*Tablet*/

@media (max-width: 951px) {
  .key-insights-cards .key-card {
    flex-basis: 50%;
    max-width: 50%;
  }
}

/*Mobile*/

@media (max-width: 767px) {
  .key-insights h2 {
    text-align: center;
    display: block;
    width: 100%;
  }
  .key-insights-cards .key-card {
    flex-basis: 100%;
    max-width: 100%;
  }
}