.pd-content {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
}

.pd-content iframe {
  margin-top: 30px;
  margin-bottom: 30px;
  display: block;
  width: 100%;
}

.pd-content p {
  margin-top: 10px;
}

.pd-subtitle {
  font-size: 18px;
  line-height: 1.39;
  text-align: left;
  color: #333;
}

/*desktop*/
@media (min-width: 952px) {
  .pd-footer {
    text-align: right;
  }
}

/*Tablet*/
@media (max-width : 951px) {
  .pd-content {
    padding-left: 30px;
    padding-right: 30px;
  }
}

/*Mobile*/
@media (max-width: 767px) {
  .pd-content h2 {
    font-size: 26px;
  }
  .pd-content p {
    font-size: 15px;
  }
  .pd-content iframe {
    margin-top: 29px;
    margin-bottom: 26px;
  }
  .pd-footer {
    text-align: right;
  }
  .button-without-bg span {
    font-size: 15px;
  }
  .button-without-bg i {
    transform: rotate(-45deg) scale(0.6) translateY(2px);
  }
}