.pl-navigation {
  display: flex;
  align-self: center;
  margin-top: -5px;
  margin-left: 40px;
}

.pl-navigation .pl-nav-button {
  font-weight: 400;
}

.pl-navigation .pl-navigation-dropdown {
  text-align: center;
}

.pl-navigation .pl-navigation-dropdown-link {
  font-weight: 400;
}

.pl-navigation .pl-nav-button:hover,
.pl-navigation .pl-nav-button:focus,
.pl-navigation .pl-navigation-dropdown:hover .pl-navigation-dropdown-link,
.pl-navigation .pl-navigation-dropdown-link:focus {
  background-color: transparent;
  font-weight: 600;
}

.pl-nav-dropdown {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #f9f8f7;
  border: solid 1px #d0d0d0;
}

nav.pl-navigation .pl-navigation-active {
  font-weight: 600;
}