.api-sdk-section {
  padding-top: 180px;
  text-align: center;
}

.api-sdk-section > h2 {
  margin-bottom: 80px;
}

.api-sdk-wrapper {
  display: flex;
  justify-content: center;
}

.api-sdk-card p {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #49565d;
  margin-bottom: 40px;
}

.api-sdk-wrapper > .api-sdk-card {
  position: relative;
  z-index: 5;
  width: 100%;
  max-width: 380px;
  padding: 25px;
  box-shadow: 1px 3px 12px 0 rgba(0, 0, 0, 0.15);
}

.api-sdk-card img {
  margin-bottom: 25px;
}

.api-sdk-wrapper > .api-sdk-card:first-of-type {
  margin-right: 40px;
}

.api-sdk-wrapper > .api-sdk-card:last-of-type {
  margin-left: 40px;
}

/*Tablet*/
@media (max-width : 951px) {
  .api-sdk-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }

  .api-sdk-section .api-sdk-wrapper {
    justify-content: space-around;
    display: flex;
  }

  .api-sdk-section .api-sdk-wrapper > .api-sdk-card {
    flex-basis: 45%;
    max-width: 45%;
    margin: 0 0 50px;
  }
}

/*Mobile*/
@media (max-width : 767px) {
  .api-sdk-section {
    padding-top: 80px;
  }

  .api-sdk-section  .api-sdk-wrapper > .api-sdk-card {
    flex-basis: 100%;
    max-width: 100%;
  }

  .api-sdk-wrapper {
    flex-flow: row wrap;
  }
  
}